html, body {
    margin: 0px;
    height: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 40px;
}

button {
    height: 100px;
    width: 100px;
    border: 5px;
    border-color: black;
}

img {
    height: 80px;
    width: 80px;
}